<th:block>
    <footer class="ftco-footer ftco-section bg-danger ">
        <nav class="navbar justify-content-end">
            <a class="mr-auto" th:href="@{/menu}">
                <img
                        th:src="@{https://res.cloudinary.com/turtei/image/upload/c_scale,w_80/v1554759946/pizzaApp/basePics/pizzaTwerkLogo.png}"
                        alt="logo">
            </a>
            <ul class="nav text-center">
                <li class="nav-item">
                    <a class="footer-icons text-decoration-none" th:href="@{/address}">
                        <span>PIZZA</span>
                        <i class="fas fa-phone-square"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="footer-icons" th:href="@{https://twitter.com/}">
                        <i class="fab fa-twitter"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="footer-icons" th:href="@{https://www.tripadvisor.com/}">
                        <i class="fab fa-tripadvisor"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="footer-icons" th:href="@{https://www.facebook.com/}">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="footer-icons"
                       th:href="@{https://www.google.com/maps/@7.6084182,-25.1224336,22963938m/data=!3m1!1e3}">
                        <i class="fas fa-map-marked-alt"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="footer-icons" th:href="@{https://www.youtube.com/watch?v=CimAXDTeD6Q}">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</th:block>

