<th:block>
    <footer class="ftco-footer ftco-section bg-danger ">
        <nav class="navbar justify-content-end">
            <a th:href="@{#}" class="mr-auto">
                <img
                        th:src="@{https://res.cloudinary.com/turtei/image/upload/c_scale,w_80/v1554759946/pizzaApp/basePics/pizzaTwerkLogo.png}"
                        alt="logo">
            </a>
            <ul class="nav text-center">
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fas fa-phone-square"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fab fa-twitter"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fab fa-tripadvisor"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fas fa-map-marked-alt"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{#}" class="footer-icons">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</th:block>

