<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-color justify-content-end">
            <a class="mr-auto text-decoration-none" href="/">
                <span class="h2 nav-text-color">Pizza</span>
            </a>

            <ul class="nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Menu</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Address</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Contacts</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Our Team</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/register}">
                        <div class="nav-text-color">Register</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">LogIn</div>
                    </a>
                </li>
            </ul>
        </nav>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-color justify-content-end">
            <a class="mr-auto text-decoration-none" href="#">
                <span class="h2 nav-text-color">Pizza</span>
            </a>

            <ul class="nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Menu</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Address</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Contacts</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Our Team</div>
                    </a>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link active dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="cartDropdown" role="button">
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                        <!--                            <div class="dropdown-menu" aria-labelledby="cartDropdown">-->
                        <!--                                <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">-->
                        <!--                                    <div class="dropdown-item" th:text="|*{product.name} x *{quantity}|"></div>-->
                        <!--                                </th:block>-->
                        <!--                                <div class="dropdown-divider"></div>-->
                        <!--                                <div class="text-center">-->
                        <!--                                    <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Menu</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Address</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Contacts</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-text-color">Our Team</div>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/profile}">Profile</a>
                </li>

                <!--                <th:block sec:authorize="hasRole('ROLE_MODERATOR')">-->
                <!--                    <li class="nav-item active">-->
                <!--                        <div class="dropdown show">-->
                <!--                            <a class="nav-link active dropdown-toggle" href="#" role="button"-->
                <!--                               id="moderatorDropdown"-->
                <!--                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                                Moderator-->
                <!--                            </a>-->
                <!--                            <div class="dropdown-menu" aria-labelledby="moderatorDropdown">-->
                <!--                                <a class="dropdown-item" th:href="@{/categories/add}">Add Category</a>-->
                <!--                                <a class="dropdown-item" th:href="@{/products/add}">Add Product</a>-->
                <!--                                <div class="dropdown-divider"></div>-->
                <!--                                <a class="dropdown-item" th:href="@{/categories/all}">All Categories</a>-->
                <!--                                <a class="dropdown-item" th:href="@{/products/all}">All Products</a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                </th:block>-->
                <!--                <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
                <!--                    <li class="nav-item active">-->
                <!--                        <div class="dropdown">-->
                <!--                            <a class="nav-link active dropdown-toggle" href="#" role="button"-->
                <!--                               id="adminDropdown"-->
                <!--                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                                Admin-->
                <!--                            </a>-->
                <!--                            <div class="dropdown-menu" aria-labelledby="adminDropdown">-->
                <!--                                <a class="dropdown-item" th:href="@{/users/all}">All Users</a>-->
                <!--                                <a class="dropdown-item" th:href="@{/order/all}">All Orders</a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                </th:block>-->
                <!--                <li class="nav-item active">-->
                <!--                    <form th:action="@{/logout?login}" th:method="post">-->
                <!--                        <button class="logout-button nav-link">Logout</button>-->
                <!--                    </form>-->
                <!--                </li>-->
            </ul>
            <!--            </div>-->
        </nav>

    </th:block>
    <picture>
        <source media="(min-width: 600px)"
                th:srcset="@{'https://res.cloudinary.com/turtei/image/upload/v1554811030/pizzaApp/basePics/pizzaBanner2.jpg'}">
        <img alt="pizzaBanner"
             class="banner-background"
             th:src="@{'https://res.cloudinary.com/turtei/image/upload/v1554846276/pizzaApp/basePics/pizzaBanner3Small.jpg'}">
    </picture>
</th:block>