body {
    min-width: 300px;
}

.banner-background {
    width: 100%;
    height: 300px;
    border: 1px solid red;
}


.navbar-color {
    background: yellow;
}

.nav-text-color {
    color: black;
    font-weight: bold;
    padding: 5px;
!important;
}

.nav-text-color:hover {
    width: 100%;
    padding: 5px;
    border: 2px black;
    border-radius: 4px;
    background: black;
    color: yellow;
}

.dropDownSeparateLine {
    height: 1px;
    background-color: black;
}

body {
    background: black;
}

.basketColor {
    color: black;
!important;
}

.basketColor:hover {
    color: yellow;
!important;
}

.mainBody {
    border-radius: 0 !important;
    background: #cee802;
    border: 1px solid red;
}

.mainBodyText {
    color: #db3545;
}

.customHr {
    width: 10%;
    height: 1px;
    background-color: #cee802;
}

.customTable {
    width: 90%;
}

.inputDisabled:read-only {
    color: #ebebeb;
!important;
    background: #DB3545;
!important;
}

.customRow:hover {
    background-color: black;
!important;
    color: yellow;
!important;
    border-radius: 5px;
!important;
    font-weight: bolder;
!important;
}

.customRoleButton {
    width: 80%;
    border-radius: 5px;
    border-color: #cee802;
    background: black;
    color: yellow;
}

.customRoleColor:hover {
    background: #DB3545;
    color: #ebebeb;
    font-weight: bold;
}

.picture-box {
    border-radius: 10px;
    margin-bottom: 1%;
    width: 60%;
}

.ingredientsFontSize {
    font-size: 12px;
!important;
}

.addressBox {
    border: black 1px solid;
    border-radius: 8px;
    margin-bottom: 1%;
    width: 60%;
    color: #ebebeb;
    background: #DB3545;
    padding: 1%;
}

.teamBox {
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    background: #DB3545;
    color: #ebebeb;
}


.teamPicture {
    border-radius: 10px;
    width: 30%;
    margin: 3%;
}

.customButtonRegister {
    margin-top: 20px;
    padding: 5px;
    color: #cee802;
    font-size: large;
    font-weight: bolder;
    min-width: 150px;
    border: 1px #db3545;
    border-radius: 5px;
    background: #DB3545;
}


.customButtonRegister:hover {
    color: #db3545;
    font-size: large;
    font-weight: bolder;
    min-width: 150px;
    border: 1px #cee802;
    border-radius: 5px;
    background: #cee802;
}

.addPizzaPic {
    width: 200px;
!important;
    height: 38px;
!important;
    color: #DB3545;
    font-size: 13px;
    margin-top: 0;
    padding: 5px;
    font-weight: bold;
}

label {
    display: block;
}

.addPizzaPic:hover {

    padding: 5px;
    border: 2px yellow solid;
    border-radius: 4px;
    background: black;
    color: yellow;
}

.phoneInput {
    width: 200px;
!important;
}

.customCheckBox {
    display: block;
    width: 200px;
    text-align: left;
    border: 1px #ebebeb solid;
    border-radius: 5px;
    padding: 1%;

}

.customCheckBoxLabel {
    display: inline-block;
    font-size: 12px;
}

.customErrorMessageColor {
    color: #cee802;
}

.customRadioButtons {
    display: inline-block;
    margin-left: 1%;
    padding-left: 3%;
    font-weight: bold;
}

.footer-icons {
    font-size: 3em;
    color: #ebebeb;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    margin: 0 20px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}

.footer-icons:hover {
    background: #ebebeb !important;
    color: #DB3545 !important;
}

