<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="jumbotron-fluid mainBody my-4">
        <h1 class="text-center">All Users</h1>
        <hr class="hr-2 bg-dark">
        <table class="customTable table-hover mx-auto">
            <thead>
            <tr class="row mx-auto mb-4 font-weight-bold">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-1 text-center">Username</th>
                <th class="col-md-2 text-center">First Name</th>
                <th class="col-md-2 text-center">Last Name</th>
                <th class="col-md-2 text-center">Phone</th>
                <th class="col-md-2 text-center">Role</th>
                <th class="col-md-2 text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user, iter : ${bindingModel}">

                <tr class="row mx-auto">
                    <th class="col-md-1 customRow text-center" th:text="${iter.index+1}"></th>
                    <td class="col-md-1 customRow text-center" th:text="${user.username}"></td>
                    <td class="col-md-2 customRow text-center" th:text="${user.firstName}"></td>
                    <td class="col-md-2 customRow text-center" th:text="${user.lastName}"></td>
                    <td class="col-md-2 customRow text-center" th:text="${user.phoneNumber}"></td>
                    <td class="col-md-2 customRow text-center"
                        th:text="${#strings.listJoin(user.authorities,', ')}"></td>
                    <td class="col-md-2 text-center">


                        <th:block th:if="${#lists.contains(user.authorities,'ROLE_USER') &&
                                    !#lists.contains(user.authorities,'ROLE_MODERATOR') &&
                                    !#lists.contains(user.authorities,'ROLE_ADMIN')}">

                            <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Moderator</button>
                            </form>
                            <form th:action="@{/users/set-admin/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Admin</button>
                            </form>
                            <form th:action="@{/users/delete/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Delete</button>
                            </form>
                        </th:block>
                        <th:block th:if="${#lists.contains(user.authorities,'ROLE_USER') &&
                              #lists.contains(user.authorities,'ROLE_MODERATOR') &&
                              !#lists.contains(user.authorities, 'ROLE_ADMIN')}">
                            <form th:action="@{/users/set-user/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">User</button>
                            </form>
                            <form th:action="@{/users/set-admin/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Admin</button>
                            </form>
                            <form th:action="@{/users/delete/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Delete</button>
                            </form>
                        </th:block>
                        <th:block th:if="${#lists.contains(user.authorities,'ROLE_USER') &&
                              #lists.contains(user.authorities,'ROLE_MODERATOR') &&
                              #lists.contains(user.authorities, 'ROLE_ADMIN') &&
                                !#lists.contains(user.authorities,'ROLE_ROOT')}">
                            <form th:action="@{/users/set-user/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">User</button>
                            </form>
                            <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Moderator</button>
                            </form>
                            <form th:action="@{/users/delete/{id}(id=${user.id})}" th:method="post">
                                <button class="btn customRoleButton customRoleColor">Delete</button>
                            </form>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>