<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="jumbotron mainBody mt-4">
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore in molestias
            soluta vel! Beatae corporis cupiditate enim, ex explicabo impedit nostrum unde ut? Architecto fuga
            laudantium maiores necessitatibus ut?</p>
    </div>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>