<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="jumbotron mainBody mt-4">
        <div class="print-scheduled col-md-2 bg-exodia rounded">
            <h5 class="text-center text-white font-weight-bold py-3 mt-3">title</h5>
            <hr class="bg-white">
            <div class="buttons-holder w-75 mx-auto d-flex justify-content-between">
                <a
                        class="btn bg-exodia text-white font-weight-bold mb-3">Print</a>
                <a
                        class="btn bg-exodia text-white font-weight-bold mb-3">Details</a>
            </div>
        </div>
    </div>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>