<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" th:href="@{/static/css/intlTelInput.min.css}">
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="jumbotron bg-transparent text-center mainBodyText">
        <h2>Register</h2>
        <hr class="customHr">
        <form th:action="@{/users/register}" th:method="post" th:object="${bindingModel}">

            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'customErrorMessageColor'">
                <label for="inputFirstName">First Name:</label>
                <input class="form-control w-auto mx-auto" id="inputFirstName" required th:field="*{firstName}"
                       type="text">
                <small id="firstNameHelp" th:each="error : ${#fields.errors('firstName')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('lastName')} ? 'text-danger'">
                <label for="inputLastName">Last Name:</label>
                <input class="form-control w-auto mx-auto" id="inputLastName" required th:field="*{lastName}"
                       type="text">
                <small id="inputLastHelp" th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('username')} ? 'text-danger'">
                <label for="inputUsername">Username:</label>
                <input class="form-control w-auto mx-auto" id="inputUsername" required th:field="*{username}"
                       type="text">
                <small id="inputUsernameHelp" th:each="error : ${#fields.errors('username')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">
                <label for="inputPassword">Password:</label>
                <input class="form-control w-auto mx-auto" id="inputPassword" required th:field="*{password}"
                       type="password">
                <small id="inputPasswordHelp" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">
                <label for="inputPassword2">Confirm Password:</label>
                <input class="form-control w-auto mx-auto" id="inputPassword2" required th:field="*{password}"
                       type="password">
                <small id="inputPasswordHelp2" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('email')} ? 'text-danger'">
                <label for="inputEmail">Email:</label>
                <input class="form-control w-auto mx-auto" id="inputEmail" required th:field="*{password}" type="email">
                <small id="inputEmailHelp" th:each="error : ${#fields.errors('email')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'text-danger'">
                <label for="inputPhoneNumber">Phone number:</label>
                <input class="form-control w-auto mx-auto" id="inputPhoneNumber" pattern="^[0]{1}[1-9]{9}$" required
                       th:field="*{phoneNumber}" type="tel">
                <small id="inputPhoneNumberHelp" th:each="error : ${#fields.errors('phoneNumber')}"
                       th:text="${error}"></small>
            </div>
            <button class="customButtonRegister" type="submit">Register</button>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
<script th:src="@{/static/js/intlTelInput.min.js}">

</script>
</body>
</html>