<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" th:href="@{/css/intlTelInput.min.css}">
    <script th:src="@{/js/intlTelInput.min.js}"></script>
    <!--        <script th:src="@{/js/popper.min.js}"></script>-->
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="jumbotron bg-transparent text-center mainBodyText">
        <h2>Register</h2>
        <hr class="customHr">
        <form id="registerForm" th:action="@{/users/register}" th:method="post" th:object="${bindingModel}">

            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('firstName')} ? 'customErrorMessageColor'">
                <label for="firstName">First Name:</label>
                <input class="form-control w-auto mx-auto" id="firstName" required th:field="*{firstName}"
                       type="text">
                <small id="firstNameHelp" th:each="error : ${#fields.errors('firstName')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('lastName')} ? 'customErrorMessageColor'">
                <label for="lastName">Last Name:</label>
                <input class="form-control w-auto mx-auto" id="lastName" required th:field="*{lastName}"
                       type="text">
                <small id="lastNameHelp" th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('username')} ? 'customErrorMessageColor'">
                <label for="username">Username:</label>
                <input class="form-control w-auto mx-auto" id="username" required th:field="*{username}"
                       type="text">
                <small id="usernameHelp" th:each="error : ${#fields.errors('username')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('password')} ? 'customErrorMessageColor'">
                <label for="password">Password:</label>
                <input class="form-control w-auto mx-auto" id="password" required th:field="*{password}"
                       type="password">
                <small id="passwordHelp" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('confirmPassword')} ? 'customErrorMessageColor'">
                <label for="confirmPassword">Confirm Password:</label>
                <input class="form-control w-auto mx-auto" id="confirmPassword" required th:field="*{confirmPassword}"
                       type="password">
                <small id="confirmPasswordHelp" th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto" th:classappend="${#fields.hasErrors('email')} ? 'customErrorMessageColor'">
                <label for="email">Email:</label>
                <input class="form-control w-auto mx-auto" id="email" required th:field="*{email}" type="email">
                <small id="emailHelp" th:each="error : ${#fields.errors('email')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group mx-auto"
                 th:classappend="${#fields.hasErrors('phoneNumber')} ? 'customErrorMessageColor'">
                <label for="phone">Phone number:</label>
                <input class="form-control mx-auto phoneInput" id="phone" max="13"
                       min="5" required th:field="*{phoneNumber}" type="tel">
                <br/>
                <small id="phoneNumberHelp" th:each="error : ${#fields.errors('phoneNumber')}"
                       th:text="${error}"></small>
            </div>

            <button class="customButtonRegister" type="submit">Register</button>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
<script>
    let password = document.getElementById("password")
        , confirmPassword = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords Don't Match");
        } else {
            confirmPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;

</script>
<script>

    let input = document.querySelector("#phone");
    let iti = window.intlTelInput(input, {
        utilsScript: "/js/utils.js",
        initialCountry: "bg",
        separateDialCode: true,
        customPlaceholder: function (selectedCountryPlaceholder, selectedCountryData) {
            return "8" + selectedCountryPlaceholder;
        },
    });

    $('#registerForm').submit(function () {
        let countryData = iti.getSelectedCountryData().dialCode;
        let inputData = document.getElementById('phone');
        inputData.value = countryData + inputData.value;
        console.log(inputData.value);
        console.log(countryData);
        return true; // return false to cancel form action
    });
</script>
</body>
</html>